@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.productCT {
	margin-top: 5%;
	width: 100%;
	height: 100%;
}

#notice {
	font-weight: bold;
	font-size: 1.1em;
	color: blue;
	text-decoration: none;
}

.table th {
	text-align: center;
}

.table td:first-child {
	width: 6%;
	text-align: center;
}

.table td:nth-child(2) {
	width: 52%;
}

.table td:nth-child(2) a {
	margin-left: 10%;
}

.table td:nth-child(3) {
	width: 18%;
	text-align: center;
}

.table td:nth-child(4) {
	width: 9%;
	text-align: center;
}

.table td:nth-child(5) {
	width: 9%;
	text-align: center;
}

.table td:last-child {
	width: 6%;
	text-align: center;
}

.frbtn {
	width: 10%;
	display: inline-block;
	vertical-align: middle;
	min-width: 60px;
	height: 40px;
	margin: 0;
	padding: 0 15px;
	border: #222 solid 1px;
	border-radius: 3px;
	color: #222;
	line-height: 38px;
	text-decoration: none;
	float: right;
}

.frbtn.focus {
	background: linear-gradient(to bottom, gray, black);
	color: white;
}

.frbtn.focus:hover {
	background: linear-gradient(to bottom, white, lightgray);
	color: #333;
}